<div class="container-fluid bottom">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a routerLink="/home" class="fa fa-book" >Onlinepustaka.com</a>
            <p>contact us</p>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <a href="" class="fas fa-at" >mail</a>
        </div>
        <div class="col-lg-4">
            <a href="" class="fab fa-twitter">twitter</a>
        </div>
        <div class="col-lg-4">
            <a href="" class="fab fa-instagram">instagram</a>
        </div>
    </div>

</div>